<main class="main-container">
  <section class="section-fechamento">
    <section class="section-fechamento">

      <section class="section-fechamento">
        <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
            <h2 style="padding: 8px; margin: 24px 0px; ">Calculadora para motagem de fechamento de jogos da Lotomania</h2>
        </section>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <section style="display: flex; justify-content: center; align-self: center; width: 100%;" >
          <img src="../assets/logo-lotomania-512.png"  alt="Logo lotomania" width="200" style="margin: -10px 0px -10px">
        </section>
        <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
          <p style="padding: 8px; margin: 8px 0px; ">Clique no botão abaixo para gerar um jogo com a seguinte configuração: 30 números que mais sairam, 5 números que menos sairam, e outros números aleatórios</p>
        </section>
        <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(59)">
            59 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(62)">
            62 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(65)">
            65 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(68)">
            68 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(71)">
            71 números
          </button>
         
        </section>

        <form *ngIf="formNumSelecionados" [formGroup]="formNumSelecionados" (ngSubmit)="submitCalcularFechamento()" >
          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
            <p style="padding: 8px; margin: 8px 0px; ">Preencha os números escolhidos nos {{formNumSelecionados.value.nums.length}} campos:</p>
          </section>
          <div style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  formArrayName="nums">
              <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  *ngFor="let num of nums.controls; let i=index">
                <mat-form-field class="form-input" appearance="outline" [formGroupName]="i" >
                  <input
                  matInput
                  type="number"
                  required="true"
                  value=2
                  min="0" max="99" 
                  formControlName="num" />
                </mat-form-field>
              </section>

          </div>
          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
            <p style="padding: 8px; margin: 8px 0px; ">Configurações do bolão: </p>
          </section>
         <!--  <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <mat-form-field appearance="outline">
              <mat-label>Tamanho dos jogos</mat-label>
              <input
              matInput
              type="number"
              required="true"
              min="10" max="50" 
              formControlName="tamanhoJogo" />
            </mat-form-field>
          </section> -->

          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <mat-form-field  appearance="outline">
              <mat-label>Quantidade minima de de acertos</mat-label>
              <input
              matInput
              type="number"
              min="9" max="20"
              required="true"
              formControlName="acertos" />
            </mat-form-field>
          </section>
          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <mat-form-field  appearance="outline">
              <mat-label>Quantidade de cotas do bolão</mat-label>
              <input
              matInput
              type="number"
              min="1" max="100"
              required="true"
              formControlName="cotas" />
            </mat-form-field>
          </section>

          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <div>
              <button
              style="margin: 10px;"
              type="submit"
              matSuffix
              mat-stroked-button 
              [disabled]="formNumSelecionados.invalid" cdkFocusInitial>

              Calcular Fechamento
            </button>

            </div>
          </section>
        </form>
      </section>

    </section>
    <mat-divider style="width: 100%; margin: 8px 0px;" *ngIf="resultadosJogos.length > 0"></mat-divider>
    <section class="section-fechamento" *ngIf="fechamentos.length > 0">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
          <p style="padding: 8px; margin: 0px;">Para montar o fechamento de {{numeros.length}} números com garantia de pelo menos {{garantirAcertos}} acertos, você vai precisar fazer <b>{{fechamentos.length}} jogos </b> de {{tamanhoJogo}} números</p>
      </section>
      
    </section>

    <section class="section-fechamento" *ngIf="fechamentos.length > 0">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
          <p style="padding: 8px; margin: 0px;">O custo total do bolão vai ser de <b>R$ {{valorTotalBolao}},00</b>, dividido por <b *ngIf="formNumSelecionados">{{formNumSelecionados.value.cotas}} cotas</b> com o valor por cota de <b>R$ {{valorPorCota}} reais </b></p>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <p style="padding: 8px; margin: 0px;" >Com base nos ultimos {{resultadosUltimos2024.length}} jogos de 2024 e 2025 você teria acertado com 0: {{ this.totalAcertosPeriodo['zero'] }}, 15: {{ this.totalAcertosPeriodo['quinze'] }}, 16: {{ this.totalAcertosPeriodo['dezesseis'] }}, 17: {{ this.totalAcertosPeriodo['dezessete'] }}, 18: {{ this.totalAcertosPeriodo['dezoito'] }}, 19: {{ this.totalAcertosPeriodo['dezenove'] }}, 20: {{ this.totalAcertosPeriodo['vinte'] }} </p>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <span style="padding: 8px; margin: 0px; color: brown;">{{msgErroCotas}}</span>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <span style="padding: 8px; margin: 0px; color: brown;">{{msgErroCotas2}}</span>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <span style="padding: 8px; margin: 0px; color: brown;">{{msgErroCotas3}}</span>
      </section>
    </section>

    <!-- <section class="section-fechamento" *ngIf="fechamentos">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  *ngFor="let fechamento of fechamentos">
        <div *ngFor="let f of fechamento">
          <p style="padding: 8px; margin: 0px;">{{f}}</p>
        </div>

      </section>
    </section> -->

    <section class="section-fechamento" style="margin-top: 40px;" *ngIf="resultadosJogos">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  *ngFor="let resultJogo of resultadosJogos">
        <div *ngFor="let res of resultJogo.jogo">
          <p style="padding: 8px; margin: 0px;">{{res}}</p>
        </div>
        <p style="padding: 24px; margin: 0px; color: grey;">({{resultJogo.zero}} {{resultJogo.quinze}} {{resultJogo.dezesseis}} {{resultJogo.dezessete}} {{resultJogo.dezoito}} {{resultJogo.dezenove}} {{resultJogo.vinte}})</p>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" *ngIf="resultadosJogos.length > 0">
        <p style="padding: 8px; margin: 0px; color: grey; margin-top: 24px;">(0, 15, 16, 17, 18, 19, 20) acertos que seriam feitas nos {{resultadosUltimos2024.length}} jogos de jan/2024 até mar/2025</p>
      </section>
    </section>


    

    <mat-divider style="width: 100%; margin: 54px 0px;"></mat-divider>
    <section class="section-fechamento">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap; margin: 8px 0px 40px 0px; " >
          <p style="padding: 4px; margin: 4px 0px 4px 0px; color: rgb(85, 85, 85);">Atualização 02/04/25 - outras informações em </p>
          <a  style="padding: 4px 0px; margin: 4px 0px 4px 0px; color: rgb(85, 85, 85);" href="https://loterias.caixa.gov.br/Paginas/Lotomania.aspx" target="_blank" rel="noopener noreferrer">Loterias Caixa</a>
          <p style="padding: 4px; margin: 4px 0px 4px 0px; color: rgb(85, 85, 85);">| Desenvolvido por KLRS</p>
      </section>
    </section>

     

  </section>

   <!--    <p>Caso tenha um novo cliente, ou foi alterado o nome do cliente, esse botão atualia a lista de clientes.</p>

      <div class="example-button-row">
        <button mat-raised-button (click)="executarFuncao('cliente')" style="margin: 8px;">Recarregar Clientes</button>

      </div>

      <div class="example-button-row" style="margin-top: 50px;">
        <p>Caso uma empresa não tenha horas no respectivo mês, esse botão corrige o problema da empresa não aparecer</p>
        <button mat-raised-button (click)="executarFuncao('contrato')" style="margin: 8px;">Integrar Contratos</button>
      </div> -->

  </main>