 <main class="main-container">
  <section class="section-fechamento">
    <section class="section-fechamento">

      <section class="section-fechamento">
        <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
            <h2 style="padding: 8px; margin: 24px 0px; ">Calculadora para motagem de fechamento de jogos da Mega-Sena</h2>
        </section>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
          <p style="padding: 8px; margin: 8px 0px; ">Clique no botão abaixo apra gerar um jogo com a seguinte configuração: 3 números que mais sairam, 2 números que mais sairam, números sequenciais e números de ao menos 2 quadrantes</p>
        </section>
        <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(9)">
            9 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(10)">
            10 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(11)">
            11 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(12)">
            12 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(13)">
            13 números
          </button>
          <button
            style="margin: 10px;"
            matSuffix
            mat-stroked-button 
            (click)="gerarJogoNovamente(14)">
            14 números
          </button>
        </section>
        <form [formGroup]="formNumerosSelecionados" (ngSubmit)="submitCalcularFechamento()" >
          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
            <p style="padding: 8px; margin: 8px 0px; ">Preencha os números escolhidos:</p>
          </section>
          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              required="true"
              min="0" max="60" 
              formControlName="n1" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              required="true"
              formControlName="n2" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              required="true"
              formControlName="n3" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              required="true"
              formControlName="n4" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              required="true"
              formControlName="n5" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              required="true"
              formControlName="n6" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              formControlName="n7" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              formControlName="n8" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              formControlName="n9" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              formControlName="n10" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              formControlName="n11" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              formControlName="n12" />
            </mat-form-field>

            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              formControlName="n13" />
            </mat-form-field>
            <mat-form-field class="form-input" appearance="outline">
              <input
              matInput
              type="number"
              min="0" max="60"
              formControlName="n14" />
            </mat-form-field>
          </section>
          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
            <p style="padding: 8px; margin: 8px 0px; ">Configurações do bolão: </p>
          </section>
          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <mat-form-field appearance="outline">
              <mat-label>Tamanho dos jogos</mat-label>
              <input
              matInput
              type="number"
              required="true"
              min="6" max="10" 
              formControlName="tamanhoJogo" />
            </mat-form-field>
          </section>

          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <mat-form-field  appearance="outline">
              <mat-label>Quantidade minima de de acertos</mat-label>
              <input
              matInput
              type="number"
              min="0" max="60"
              required="true"
              formControlName="acertos" />
            </mat-form-field>
          </section>
          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <mat-form-field  appearance="outline">
              <mat-label>Quantidade de cotas do bolão</mat-label>
              <input
              matInput
              type="number"
              min="1" max="100"
              required="true"
              formControlName="cotas" />
            </mat-form-field>
          </section>

          <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  >
            <div>
              <button
              style="margin: 10px;"
              type="submit"
              matSuffix
              mat-stroked-button 
              [disabled]="formNumerosSelecionados.invalid" cdkFocusInitial>

              Calcular Fechamento
            </button>

            </div>
          </section>
        </form>
      </section>

    </section>
    <mat-divider style="width: 100%; margin: 8px 0px;"></mat-divider>
    <section class="section-fechamento" *ngIf="fechamentos">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
          <p style="padding: 8px; margin: 0px;">Para montar o fechamento de {{numeros.length}} números com garantia de pelo menos {{garantirAcertos}} acertos, você vai precisar fazer <b>{{fechamentos.length}} jogos </b> de {{tamanhoJogo}} números</p>
      </section>
      
    </section>

    <section class="section-fechamento" *ngIf="fechamentos">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
          <p style="padding: 8px; margin: 0px;">O custo total do bolão vai ser de <b>R$ {{valorTotalBolao}},00</b>, dividido por <b>{{formNumerosSelecionados.value.cotas}} cotas</b> com o valor por cota de <b>R$ {{valorPorCota}} reais </b></p>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <p style="padding: 8px; margin: 0px;">Com base nos ultimos {{resultadosUltimos2024.length}} jogos de 2024 você teria acertado {{totalQuadras}} quadras, {{totalQuinas}} quinas, {{totalSenas}} senas</p>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <span style="padding: 8px; margin: 0px; color: brown;">{{msgErroCotas}}</span>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <span style="padding: 8px; margin: 0px; color: brown;">{{msgErroCotas2}}</span>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;" >
        <span style="padding: 8px; margin: 0px; color: brown;">{{msgErroCotas3}}</span>
      </section>
    </section>

    <!-- <section class="section-fechamento" *ngIf="fechamentos">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  *ngFor="let fechamento of fechamentos">
        <div *ngFor="let f of fechamento">
          <p style="padding: 8px; margin: 0px;">{{f}}</p>
        </div>

      </section>
    </section> -->

    <section class="section-fechamento" style="margin-top: 50px;" *ngIf="resultadosJogos">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;"  *ngFor="let resultJogo of resultadosJogos">
        <div *ngFor="let res of resultJogo.jogo">
          <p style="padding: 8px; margin: 0px;">{{res}}</p>
        </div>
        <p style="padding: 8px; margin: 0px; color: grey;">({{resultJogo.quadras}} {{resultJogo.quinas}} {{resultJogo.senas}})</p>
      </section>
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap;">
        <p style="padding: 8px; margin: 0px; color: grey; margin-top: 24px;">(quadras quinas senas) que seriam feitas nos {{resultadosUltimos2024.length}} jogos de 2024</p>
      </section>
    </section>


    

    <mat-divider style="width: 100%; margin: 54px 0px;"></mat-divider>
    <section class="section-fechamento">
      <section style="display: flex; justify-content: center; align-self: center; flex-wrap: wrap; margin: 8px 0px 40px 0px; " >
          <p style="padding: 4px; margin: 4px 0px 4px 0px; color: rgb(85, 85, 85);">Atualização 26/12/24 - outras informações em </p>
          <a  style="padding: 4px 0px; margin: 4px 0px 4px 0px; color: rgb(85, 85, 85);" href="https://loterias.caixa.gov.br/Paginas/Mega-Sena.aspx" target="_blank" rel="noopener noreferrer">Loterias Caixa</a>
          <p style="padding: 4px; margin: 4px 0px 4px 0px; color: rgb(85, 85, 85);">| Desenvolvido por KLRS</p>
      </section>
    </section>

     

  </section>

   <!--    <p>Caso tenha um novo cliente, ou foi alterado o nome do cliente, esse botão atualia a lista de clientes.</p>

      <div class="example-button-row">
        <button mat-raised-button (click)="executarFuncao('cliente')" style="margin: 8px;">Recarregar Clientes</button>

      </div>

      <div class="example-button-row" style="margin-top: 50px;">
        <p>Caso uma empresa não tenha horas no respectivo mês, esse botão corrige o problema da empresa não aparecer</p>
        <button mat-raised-button (click)="executarFuncao('contrato')" style="margin: 8px;">Integrar Contratos</button>
      </div> -->

  </main>